# Django настройки
SECRET_KEY=my_secret_key
DEBUG=1or0
ALLOWED_HOSTS=localhostor129.45680

# PostgreSQL настройки (для Docker HOST=db)
DB_NAME=my_name
DB_USER=my_user
DB_PASSWORD=my_password
DB_HOST=my_host
DB_PORT=my_port

# Redis и Celery настройки (для Docker LOCATION=redis://redis:6379/0)
LOCATION=my_location